#header h1 a{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 88.5%;
	line-height:60%;
	padding-left: 1em;
	padding-bottom:1px;
	color:00add0;
	margin:1px;
	text-decoration:none;
}


#header h2 a{
	color:#333;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 167%;
	line-height:40%;
	margin:1px;
	text-decoration:none;
}

#header h3 {
	color:#999;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 138%.5;
	line-height: 80%;
	padding-left: 2em;
	margin:1px;
	text-decoration:none;
}

#menu{
	padding-top: 2em;
	padding-left: 2em;
	list-style:none;
}

ul{
	list-style:none;
}
#about{

	padding-left:8em;
}
#menu li a{
	color: #ccc;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 197%;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 90%;
	text-decoration:none;
	list-style:none;
	text-align:right;	
}

#menu li a:hover{
	color:#454545;
	list-style:none;
}

table{
	border-collapse: collapse;
	vertical-align:top;
	border-spacing:0;
	display:table-cell;
}	
